'.platform-darwin':
  'ctrl-g': 'go-to-line:toggle'

'.platform-win32':
  'ctrl-g': 'go-to-line:toggle'

'.go-to-line .mini.editor input':
  'enter': 'core:confirm',
  'escape': 'core:cancel'

'.platform-darwin .go-to-line .mini.editor input':
  'cmd-w': 'core:cancel'

'.platform-win32 .go-to-line .mini.editor input':
  'ctrl-w': 'core:cancel'
